<div class="panel panel-primary " style="margin-left: 46%;">
    <div class="panel-heading">
      <h2>Doctor List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-dark table-responsive table-striped table-bordered font-weight-bold  " >
        <thead>
          <tr >
            <th>Doctor Id</th>
            <th>Doctor Name</th>
            <th>Doctor PhoneNumber</th>
            <th>Doctor Email</th>
            <th>Doctor Date Of Birth</th>
            <th>Doctor Specialization</th>
            <th>Delete Doctor</th>
          </tr>
        </thead>
        <tbody >
        <tr *ngFor="let doctor of doctors | async" class="font-italic" >
            
            <td>{{ doctor.doctorid }}</td>
            <td>{{ doctor.name }}</td>
            <td>{{ doctor.phoneNum }}</td>
            <td>{{ doctor.email }}</td>
            <td>{{ doctor.dob }}</td>
            <td>{{ doctor.specialization }}</td>
          <td><button (click)="deletedoctor(doctor.doctorid)" class="btn btn-danger">Delete</button>
            </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

